<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css">
  <title>Document</title>
</head>
<body>
 
<!--Header code-->

<nav class="navbar navbar-inverse">
  <div class="container-fluid">
    <div class="navbar-header">
      <a class="navbar-brand" href="#">Sudha Dance Academy</a>
    </div>
    <ul class="nav navbar-nav">
      <li class="active"><a routerLink="/dash">Dashboard</a></li>
      <li><a routerLink="challenges">Challenges</a></li>
      <li><a routerLink="/champ">Champions board</a></li>
      <li><a routerLink="/contact">Contact</a></li>
    </ul>
  </div>
</nav>



<div style="text-align: center">


<router-outlet></router-outlet>


</div>



<!--footer code-->

<div class="footer">
  <p>Designed By KO :)</p>
</div>


</body>
</html>