<style>
    .box{
    
        height:478px;
        width:500px;
        border: solid 2px ;
        border-color: red;
        border-radius: 30px;
        background-color: rgb(15, 199, 70);
        text-align: center;
        margin-left: 30%
    
    
    
    
    }
    
    
    
    </style>
    
    
    <div class="box">
    
    
    <h2>Welcome to Sudha dance academy.</h2><br>
    <iframe width="450" height="350" src="https://www.youtube.com/embed/FUUaDTvADEg" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen>
    </iframe><br>
    <span>For Booking <b>Suicide</b> slot &nbsp;</span><button (click)="bookslot()">click here</button>
    </div>
    